#change-currency(uk-modal="esc-close:true;bg-close:true")
  .uk-modal-dialog.uk-modal-body
    h2.uk-modal-title.uk-text-bold= I18n.t('website.change_currency')
    p= I18n.t('website.change_currency_explain')